body {
	text-align: center;
	margin: 0 auto;
	font-family: 'Carnac', arial, sans-serif;
}

header {
	background-color:rgb(41,48,106);
	color: rgb(236,154,52);
	padding: 30px 20px;
}

nav {
	background-color: rgb(144,149,178);;
	color: #FFFFFF;
	padding: 20px;
	text-transform: uppercase;
	font-family: 'Raleway', arial, sans-serif;
}

a {
	margin: 20px;
	color: #FFFFFF;
	text-decoration: none;
	border-bottom: 2px solid transparent;
}

a:hover {
	border-color: #FFFFFF;
}

main{
	width: 850px;
	margin: 35px auto;
}

img {
	margin: 40px 8px;
	padding: 8px;
}

h1, h2, h3 {
	font-family: "Carnac", sans-serif;
	text-transform: uppercase;
}

h2, h3 {
	color: #0D2C40;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 18px;
}

h1 {
	font-weight: 400;
	font-size: 45px;
	margin: 0 auto;
}

p {
	font-family: "Carnac", serif;
	line-height: 26px;
	font-size: 18px;
	text-align: justify;
}

button {
  color: #0D2C40;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 24px;
  border-radius: 25px;
}

footer {
	margin: 0 auto;
	padding: 0 20px;
	background-color: rgb(41,48,106);
	color: white;
	font-size: 14px;
	letter-spacing: .08em;
	font-weight: 400;
}

img {
	width: 175px;
  image-rendering: auto;
  image-rendering: crisp-edges;
	image-rendering: pixelated;
	margin: 0 auto;
}

.copyright {
 float: left;
}

.message {
 float: right;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}

.name {
	color: rgb(225,30,44);
	font-weight: 700;
}

#player-heading {
	margin: 1px;
	border: 1px;
	padding: 1px;
}

#computer-heading {
	margin: 1px;
	border: 1px;
	padding: 1px;
}

#comms-bar {
	border: 5px dotted black;
	font-weight: bolder;
}

#jsliblurb {
	float: left;
	clear: both;
}
#jslilink img {
	width: 160px;
}

#jslibutton {
	float: right;
	margin: 0 auto;
}